* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: fixed;
}

body {
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Open Sans", "san-sarif";
    color: #444444;
}
a{
    color: #1977cc;
    text-decoration: none;
}

a:hover{
    color: #3291e6;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Raleway",sans-serif;
}

/* Login Styles */
.login-container, h1, p {
    color: crimson;
    text-align: center;
    margin: 20px;
  }
  
  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px; /* Optional, adjust the width as per your design */
  }
  
  .login-container input {
    font-size: 16px; 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px; /* Add some space above the login button */
  }

  button:hover{
    background-color: salmon;
    transition: .3s ease;
    text-decoration: none;
  }


  
